.header {
  padding: 20px;
  background-color: rgb(187, 231, 216);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
}

.item {
  text-decoration: none;
  color: rgb(249, 249, 249);
  transition: color 0.3s ease;
  font-size: 18px;
  font-weight: 500;

  &:hover {
    color: violet;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}
