@import "../../app/variables.scss";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;

  @media screen and (max-width: 1024px) {
    padding: 15px;
  }

  .logo {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .headerActionData {
    display: flex;
    align-items: center;

    .buttonCatalog {
      margin-right: 20px;

      @media screen and (max-width: 1200px) {
        margin-right: 10px;
      }

      @media screen and (max-width: 768px) {
        margin-right: 5px;
      }

      .menuLine {
        display: block;
        height: 4.5px;
        width: 24px;
        border-radius: 8px;
        background-color: $white-color;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    .searchContainer {
      position: relative;

      .search {
        margin-right: 500px;

        @media screen and (max-width: 1200px) {
          margin-right: 400px;
        }

        @media screen and (max-width: 1024px) {
          margin-right: 200px;
        }

        @media screen and (max-width: 620px) {
          margin-right: 100px;
        }

        @media screen and (max-width: 510px) {
          margin-right: 20px;
        }

        @media screen and (max-width: 440px) {
          margin-right: 0;
        }
      }

      .searchList {
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        border: 1px solid $secondary-color;
        background-color: $white-color;
        border-radius: 8px;
        padding: 10px;

        .searchListItem {
          padding: 10px;
          border-radius: 8px;
          cursor: pointer;
          width: 100%;

          .searchItemLink {
            display: block;
            width: 100%;
            color: $text-color;
          }

          &:hover {
            background-color: darken($white-color, 5%);
          }

          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
    }

    .linkShop {
      margin-left: 20px;
      color: $background-color;
      transition: color 0.3s ease;
      font-size: $font-size-medium;
      font-weight: 500;

      @media screen and (max-width: 1200px) {
        margin-left: 10px;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }

      &:hover {
        color: $secondary-color;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1200px) {
      gap: 20px;
    }

    @media screen and (max-width: 768px) {
      gap: 15px;
    }

    @media screen and (max-width: 440px) {
      margin-left: 20px;
    }

    .profileContainer {
      position: relative;

      &:hover .dropdown {
        display: block;
      }
    }

    .cartContainer {
      position: relative;

      .cartAmount {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 1px solid $secondary-color;
        background-color: $white-color;
        position: absolute;
        right: -12px;
        top: -7px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-small;
      }
    }

    .icon {
      color: $white-color;
      transition: color 0.3s ease;

      &:hover {
        color: $secondary-color;
      }
    }

    .active {
      color: $secondary-color;
    }
  }
}
