@import "../../app/variables.scss";

.overlay {
  position: fixed;
  background-color: $overlay-color;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
}

.catalog {
  position: absolute;
  left: 0;
  top: 82px;
  width: 25vw;
  height: calc(100vh - 82px);
  padding: 15px;
  background-color: $background-color;
  display: flex;
  flex-flow: column;
  z-index: 9999;

  .sectionLinks {
    display: flex;
    flex-flow: column;

    .sectionLinkContainer {
      position: relative;

      .sectionLink {
        color: $text-color;
        font-size: $font-size-medium;
        padding: 10px;
        border-radius: 8px;
        transition: background-color 0.3s ease-out;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          background-color: darken($background-color, 5%);
        }

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      // Styles for the subtypes menu on hover
      .subtypesMenu {
        position: absolute;
        top: 0;
        left: 100%; // Moves the subtypes menu to the right of the parent
        background-color: $background-color;
        padding: 10px;
        width: 20vw;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        z-index: 10000;
        display: flex;
        flex-direction: column;

        .subtypeLink {
          padding: 8px;
          font-size: $font-size-small;
          color: $text-color;
          transition: background-color 0.3s ease-out;
          border-radius: 5px;

          &:hover {
            background-color: darken($background-color, 5%);
          }

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .linkSales {
    padding: 10px;
    border-radius: 8px;
    color: $secondary-color;
    font-weight: 500;
    margin-top: auto;
    transition: background-color 0.3s ease-out;
    font-size: $font-size-medium;

    &:hover {
      background-color: darken($background-color, 5%);
    }
  }
}
