@import "../../app/variables.scss";

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9998;
  background-color: rgba(00, 00, 00, 0.8);
}

.catalog {
  position: absolute;
  left: 0;
  top: 0;
  background-color: $background-color;
  display: flex;
  flex-flow: column;
  width: 35vw;
  height: calc(100vh - 82px);
  z-index: 9999;
  padding: 15px;
}

.links {
  display: flex;
  flex-flow: column;
}

.link {
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s ease-out;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: darken($color: $background-color, $amount: 5%);
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.linkSales {
  padding: 10px;
  color: $primary-color;
  margin-top: auto;
  border-radius: 8px;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: darken($color: $background-color, $amount: 5%);
  }
}
