@import "../../app/variables.scss";

.overlay {
  position: fixed;
  background-color: $overlay-color;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
}

.catalog {
  position: absolute;
  left: 0;
  top: 82px;
  width: 30vw;
  height: calc(100vh - 82px);
  padding: 15px;
  background-color: $background-color;
  display: flex;
  flex-flow: column;
  z-index: 9999;

  .sectionLinks {
    display: flex;
    flex-flow: column;

    .sectionLink {
      color: $text-color;
      font-size: $font-size-small;
      padding: 10px;
      border-radius: 8px;
      transition: background-color 0.3s ease-out;
      cursor: pointer;

      &:hover {
        background-color: darken($background-color, 5%);
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .linkSales {
    padding: 10px;
    border-radius: 8px;
    color: $primary-color;
    margin-top: auto;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: darken($background-color, 5%);
    }
  }
}
