@import "../variables.scss";

.empty {
  text-align: center;
  font-size: 16px;
}

.table {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  table-layout: fixed;
}

.headRow {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 10px;

  border: 1px solid purple;
}
