@import "../../variables.scss";
@import "../../mixins.scss";

.orders {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  .headingOrder {
    font-size: $font-size-medium;
    font-weight: 600;
    color: $secondary-color;
    margin-bottom: 10px;
  }
}

.containerEmpty {
  @include centerInitialState;
}
