@import "../../app/variables.scss";

.inputWrapper {
  position: relative;

  .input {
    padding: 10px 14px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid $primary-color;

    &::placeholder {
      font-size: $font-size-base;
    }
  }

  .icon {
    position: absolute;
    right: 15px;
    top: 7px;
    cursor: pointer;
  }
}
