@import "../../app/variables.scss";

.row {
  border: 1px solid $primary-color;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .cell {
    padding: 0;
    display: table-cell;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $text-color;
    width: 25%;

    .iconTrash {
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $secondary-color;
      }
    }

    .cellContainer {
      display: flex;
      align-items: center;
      gap: 20px;

      .link {
        color: $text-color;
        text-decoration: underline;
        transition: color 0.3s ease;
        font-size: $font-size-small;

        .color {
          font-size: 12px;
        }

        &:hover {
          color: $primary-color;
        }
      }

      .image {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        background-color: $primary-color;
      }
    }

    .operator {
      cursor: pointer;

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
