@import "../../app/variables.scss";

.button {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: $font-size-base;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.filled {
  background-color: $primary-color;
  color: $white-color;

  &:hover {
    background-color: darken($primary-color, 5%);
  }
}

.outline {
  border: 1px solid $secondary-color;
  background-color: $background-color;
  color: $secondary-color;

  &:hover {
    background-color: darken($background-color, 5%);
  }
}

.google {
  background-color: $red-color;
  color: $white-color;
  border: none;

  &:hover {
    background-color: lighten($red-color, 5%);
  }
}
