@import "../../app/variables.scss";

.carouselContainer {
  width: 100%;
  padding: 20px;
}

.carouselItemPadding {
  padding: 0 5px;
}

.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: $primary-color;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  transition: background-color 0.3s ease;
  cursor: pointer;

  h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: $background-color;
  }

  &:hover {
    background-color: darken($primary-color, 5%);
  }
}
