@import "../../app/variables.scss";

.carouselContainer {
  width: 100%;
  padding: 20px;
}

.carouselItemPadding {
  padding: 0 5px;
}

.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: $primary-color;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($color: $primary-color, $amount: 5%);
  }
}

.carouselItem img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.carouselItem h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: $background-color;
}

.carouselItem p {
  font-size: 1rem;
  color: $background-color;
}
