@import "../../app/variables.scss";

.carouselContainer {
  width: 100%;
  padding: 20px;

  @media screen and (max-width: 1200px) {
    padding: 10px;
  }

  .carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: $white-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid $secondary-color;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
  
    @media screen and (max-width: 1024px) {
      height: 130px;
    }
  
    h3 {
      font-size: 1.2rem;
      margin: 10px 0;
      color: $text-color;
    }
  
    &:hover {
      transform: scale(1.02);
    }
  }
}

.carouselItemPadding {
  padding: 0 5px;
}
