@import "../variables.scss";

.form {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  gap: 20px;

  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .error {
    color: red;
  }

  .formInfo {
    display: flex;
    justify-content: space-between;

    .buttons {
      display: flex;
      gap: 20px;
    }

    .signUpLink {
      color: $secondary-color;
      margin-left: 10px;

      &:hover {
        color: darken($color: $secondary-color, $amount: 5%);
        text-decoration: underline;
      }
    }
  }
}
