@import "../variables.scss";

.form {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  gap: 20px;

  .input {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .formInfo {
    display: flex;
    justify-content: space-between;

    .signUpLink {
      color: $secondary-color;
      margin-left: 20px;

      &:hover {
        color: darken($color: $secondary-color, $amount: 5%);
        text-decoration: underline;
      }
    }
  }
}
