.sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionSale {
  margin-top: 10px;
  height: 150px;
  width: 100%;
  background-color: violet;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($color: violet, $amount: 5%);
  }

  span {
    font-size: 20px;
    color: rgb(249, 249, 249);
  }
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.headingMain {
  font-size: 40px;
}

.eventsLink {
  color: violet;
}

.buttonSupport {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  border-radius: 50%;
  background-color: yellow;
}
