@import "./variables.scss";

.homeBlock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;

  @media screen and (max-width: 900px) {
    margin-top: 20px;
    flex-direction: column;
  }

  &:nth-child(2n) {
    @media screen and (max-width: 868px) {
      margin-bottom: 10px;
    }
  }

  .headingHome {
    font-size: 36px;

    @media screen and (max-width: 900px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 868px) {
      font-size: 28px;
    }

    .eventsLink {
      color: $secondary-color;
    }
  }

  .homeImage {
    transition: transform 0.2s ease-in;

    @media screen and (max-width: 900px) {
      margin-bottom: 40px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.modal {
  .actionData {
    display: flex;
    gap: 20px;
    margin-top: 300px;
  }

  .messageInput {
    min-width: 550px;
  }
}

.buttonSupport {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  border-radius: 50%;
  background-color: yellow;
}

.homeSections {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .linkSale {
    text-decoration: none;

    .sectionSale {
      margin-top: 10px;
      height: 150px;
      width: 100%;
      background-color: $secondary-color;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease;

      @media screen and (max-width: 1024px) {
        height: 130px;
      }

      &:hover {
        background-color: darken($color: $secondary-color, $amount: 5%);
      }

      span {
        font-size: 20px;
        color: rgb(249, 249, 249);
      }
    }
  }

  .sectionBrands {
    margin-bottom: 20px;

    .headingBrands {
      text-align: right;
    }

    .listBrands {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      .brandCard {
        cursor: pointer;
      }
    }
  }
}
