// colors

$primary-color: rgb(187, 231, 216);
$secondary-color: rgb(239, 137, 239);
$background-color: rgb(249, 249, 249);
$black-color: #000000;

// fonts

$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;

// media queries

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
