.orders {
  margin-top: 20px;
}

.order {
  border: 1px solid red;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 8px;
}

.tableCell {
  width: 50px;
}

.headingOrder {
  margin-bottom: 10px;
}
