@import "../variables.scss";
@import "../mixins.scss";

.profileDetails {
  margin-top: 20px;

  .field {
    margin-bottom: 40px;

    .inputContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .input {
        width: 100%;
        margin-top: 20px;
      }
    
      .error {
        color: $red-color;
      }
    }

    .headingSecondary {
      color: $text-color;
    }

    .inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    .change {
      margin-top: 20px;
    }
  }
}

.containerEmpty {
  @include centerInitialState;
}