@import "../variables.scss";

.profileDetails {
  margin-top: 20px;

  .field {
    margin-bottom: 40px;

    .headingSecondary {
      color: $text-color;
    }

    .inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    .input {
      width: 100%;
      margin-top: 20px;
    }

    .change {
      margin-top: 20px;
    }
  }
}
