@import "../../app/variables.scss";

.comment {
  padding: 10px;
  border: 1px solid $primary-color;
  border-radius: 8px;

  .description {
    margin: 0;
    color: $text-color;
    margin-top: 10px;
  }

  span {
    display: block;
    font-size: $font-size-medium;
    color: $primary-color;
  }

  .commentRating {
    font-size: 20px;
    color: $secondary-color;
    margin-top: 5px;
  }
}
