@import "../variables.scss";

.table {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.containerEmpty {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  gap: 20px;
}
