@import "../variables.scss";

.table {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 868px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.containerEmpty {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  gap: 20px;
}
