@import "../variables.scss";

.form {
  display: flex;
  flex-flow: column;
  gap: 20px;
  margin-top: 20px;

  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .input {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .error {
      color: $red-color;
    }
  }
}