@import "../../app/variables.scss";

.overlay {
  background-color: $overlay-color;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;

  .modal {
    border: 1px solid $secondary-color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px;
    border-radius: 8px;
    background-color: $background-color;

    @media screen and (max-width: 630px) {
      height: 100vh;
      width: 100vw;
      border-radius: 0;
      border: 0;
    }

    .modalClose {
      cursor: pointer;
      position: absolute;
      left: 5px;
      top: 10px;
    }

    .modalHeading {
      text-align: center;
      color: $primary-color;
    }

    .modalContent {
      margin-top: 10px;
    }
  }
}
