.instruments {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.instrumentCardWrapper {
  overflow: hidden;
}

.buttonSupport {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  border-radius: 50%;
  background-color: yellow;
}
