@import "../variables.scss";

.infiniteScroll {
  overflow: visible;
  overflow-y: auto;
}

.infiniteScroll::-webkit-scrollbar {
  display: none;
}

.instruments {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  flex: 70%;
  pointer-events: auto;
  overflow: visible;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 868px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.buttonSupportModal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  border-radius: 50%;
  background-color: yellow;
}

.modalData {
  display: flex;
  gap: 20px;
  margin-top: 300px;

  .modalInput {
    min-width: 550px;
  }
}

.filterBar {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;

  @media screen and (max-width: 868px) {
    margin-top: 10px;
  }

  .filterItem {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    select,
    input[type="checkbox"] {
      padding: 5px;
      border: 1px solid $primary-color;
      border-radius: 4px;
      min-width: 150px;
    }
  }

  .checkboxItem {
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="checkbox"] {
      margin: 0;
      width: 18px;
      height: 18px;
    }
  }
}
