@import "../variables.scss";

.form {
  margin-top: 20px;
}

.input {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.formInfo {
  display: flex;
  justify-content: space-between;
}

.signInLink {
  color: $secondary-color;

  &:hover {
    color: darken($color: $secondary-color, $amount: 5%);
  }
}
