@import "../../app/variables.scss";

.dropdownMenu {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: $white-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  width: 200px;
  border-radius: 8px;

  .dropdownHeader {
    border-bottom: 1px solid $black-color;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: $text-color;

    .dropdownNumber {
      margin-top: 5px;
    }
  }

  .dropdownLinks {
    margin-bottom: 20px;

    .dropdownLink {
      display: block;
      padding: 8px;
      color: $text-color;
      border-radius: 8px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &:hover {
        background-color: darken($background-color, 5%);
        color: $black-color;
      }
    }
  }
}
