@import "../../app/variables.scss";

.checkoutForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: $white-color;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1200px) {
    padding: 20px;
  }

  .headingCheckout {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 25px;
    color: $text-color;
  }

  .checkoutButton {
    margin-top: 20px;
  }

  .modalText {
    color: $text-color;
    font-size: 16px;
  }
}


.inputGroup {
  margin-bottom: 1rem;
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
