@import "../../app/variables.scss";

.checkoutForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: $white-color;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .headingCheckout {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
    color: $text-color;
  }

  .checkoutButton {
    margin-top: 20px;
  }
}
