@import "../../app/variables.scss";

.instrument {
  border: 1px solid $primary-color;
  border-radius: 8px;
  padding: 10px;
  background-color: $white-color;
  transition: transform 0.3s ease;
  position: relative;
  cursor: pointer;
  transform-origin: center top;

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .instrumentImage {
      margin-bottom: 20px;
    }
  }

  .instrumentPrice {
    color: $secondary-color;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .rating {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .instrumentName {
    text-transform: capitalize;

    .instrumentType {
      font-size: $font-size-small;
    }
  }

  .radioButtons {
    margin-top: 10px;

    .label {
      .radio {
        appearance: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 15px;
        position: relative;
        display: inline-block;
        border: 2px solid currentColor;
        cursor: pointer;

        &:before {
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: transparent;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: background-color 0.3s ease;
        }

        &:checked:before {
          background-color: currentColor;
        }
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  .buttonAddToCart {
    width: 100%;
    margin-top: 20px;
  }

  .newPin {
    padding: 6px;
    border-radius: 8px;
    border: 1px solid $secondary-color;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
  }

  .likeIcon {
    position: absolute;
    right: 5px;
    top: 5px;

    &:hover {
      color: $secondary-color;
    }
  }

  .likeIconFilled {
    color: $secondary-color;
  }
}
