@import "../../app/variables.scss";

.instrument {
  border: 1px solid $primary-color;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;

  &:hover {
    transform: scale(1.02); /* Slight scale */
  }
}

.instrumentName {
  text-transform: capitalize;
  text-align: left;
}

.instrumentImage {
  margin-bottom: 20px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 100%;
  margin-top: 20px;
}

.price {
  font-weight: 500;
  color: $secondary-color;
  margin-bottom: 10px;
}

.instrumentType {
  font-size: 14px;
}

.newPin {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid $secondary-color;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
}

.originalPrice {
  position: relative;
  margin-right: 10px;

  &::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.label {
  .radio {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid currentColor;
    margin-right: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 0.3s ease;
    }

    &:checked:before {
      background-color: currentColor;
    }
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.radioButtons {
  margin-top: 10px;
  // margin-top: 20px;
}
